/* UTILITAIRES */

@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

@font-face {
    font-family: "Playstation";
    src: url('../fonts/zrnic_rg.ttf');
}

/* COULEURS UTILISEES  : 
#FFC107 ambre
#FFD453 ambre clair
#7F6A2A ambre bruni
#3D4F58 gris bleu foncé
#95C2D7 gris bleu très clair
#607D8B gris bleu clair
#54ADD7 bleu
#3E7F9E bleu gris */


.clearfix:after{            /* POUR EVITER LES ERREURS AVEC LES FLOTTANTS */
    display : block;
    content: "";
    clear:both;
}

/*BOX MODEL */

div, header, footer, aside, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*GENERAL STYLES*/

html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #111111;
    background: #607D8B;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

.wrapperleft {
    width: calc(100% / 2);
    display: inline-block;
    min-height: 100%;
}

.wrapperright {
    width: calc(100% / 2);
    margin: -2px;
    display: inline-block;
        min-height: 100%;
}

.left {
    float:left;
}

.right {
    float:right;
}

.fa {
    font-size: 15pt;
}

#moncercle{
    background:#95C2D7;
    border-radius:50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    margin-left: 80px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px  #3E7F9E inset;
}

#moncercle:visited, #moncercle:hover {
    box-shadow: 0px 0px 10px #FFC107;
}

/* HEADER */

.person {
    text-align: center;
    width: 80%;
    height: 50px;
    background: #95C2D7;
    margin-top: 50px;
}

.person h1, .person h2 {
    clear:left;
    margin-left: 50px;
    font-family: 'Playstation';
    text-transform: uppercase;
}

.person h1 {
        font-size: 20px;
    padding-top: 7px;
}

#graphicon {
    background: #3D4F58;
    border-radius:50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
    color: #95C2D7;
}

.menu1 li{
    display: inline-block;
}

.avatar {
    margin-right: calc(100% / 4);
    width: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

.avatar:hover {
    box-shadow: 0px 0px 10px #FFC107;
}

/* MAIN LEFT*/

section {
    margin-top: 50px;
}

section .elmt {
    background: #95C2D7;
    padding: 10px;
    margin: 20px 100px;
    width: 300px;
}

section .elmt:hover {
    background: #FFD453;
    box-shadow: 0px 0px 10px #FFC107;
}

section .logo {
    margin-left: 30px;
    margin-top: -6px;
}

/*#graph {
    display:none
}*/

#graph:target {
    display: block;
}

#code {
    display:none
}

#code:target {
    display: block;
}

section article {
    display: inline-block;
    background: #95C2D7;
    padding: 30px;
    margin: 50px 50px;
    box-shadow: 0px 0px 10px  #3E7F9E;
}

article .fa {
    margin: 10px;
}

/* MAIN RIGHT */

#detail {
    display: none;
    background: #95C2D7;
    padding: 30px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px  #FFC107;
}

#detail:target {
    display: inline-block;
    background: #95C2D7;
    padding: 30px;
    margin-right: 50px;
    box-shadow: 0px 0px 10px  #FFC107;
}