/* UTILITAIRES */

@import url(https://fonts.googleapis.com/css?family=Exo+2:400,700,900);

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,500,700);

.wrapper{
    margin: 0 auto;
}

/* COULEURS UTILISEES  : 
#FFC107 ambre
#FFD453 ambre clair
#7F6A2A ambre bruni
#3D4F58 gris bleu foncé
#95C2D7 gris bleu très clair
#607D8B gris bleu clair
#54ADD7 bleu


.clearfix:after{            /* POUR EVITER LES ERREURS AVEC LES FLOTTANTS */
    display : block;
    content: "";
    clear:both;
}

/*BOX MODEL */

div, header, footer, aside, section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/*GENERAL STYLES*/

html {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    background: #3D4F58
}

.left {
    float:left;
}

.right {
    float:right;
}

.fa {
    font-size: 15pt;
}

#moncercle{
    background:#95C2D7;
    border-radius:50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-weight: 900;
    margin-left: 80px;
    margin-top: 100px;
}

/* HEADER */

.person {
    text-align: center;
    width: 400px;
    height: 50px;
    background: #95C2D7;
    margin-top: 50px;
}

.person h1, .person h2 {
    clear:left;
    margin-left: 50px;
}

.person h1 {
    padding-top: 8px;
}

#graphicon {
    background: #607D8B;
    border-radius:50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-weight: 900;
    float: right;
    margin-top: 5px;
    margin-right: 50px;
}

.menu1 li{
    display: inline-block;
}

.avatar {
    margin-right: 150px;
    width: 300px;
}

/* MAIN */

section {
    margin-top: 50px;
}

section .elmt {
    background: #95C2D7;
    padding: 10px;
    margin: 20px 100px;
    width: 300px;
}

section .logo {
    background: #54ADD7;
    height: 36px;
    width: 40px;
    margin-left: 30px;
}

article {
    display: inline-block;
    background: #95C2D7;
    padding: 30px;
    margin: 50px 100px;
    box-shadow: 0px 0px 10px  #FFC107;
}

article .fa {
    margin: 10px;
}